body {
	padding: 20px;
}

h1 {
	margin-top: 0px;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#iframe_container {
	margin-bottom: 2em;
}

a.disabled {
  cursor: default;
	text-decoration: none;
	color: #666;
	pointer-events: none;
}

.node-details, .node-edit {
	margin-bottom: 20px;
}