extends ./play_layout.jade

block content  

  header#top
    h1 
      span(id='node-title')
    nav(role='navigation')
      button(type='button', data-menu='help', class='help-btn')
        span.sr-only Hilfe zum Spiel
      button(type='button', class='fullscreen-toggle')
        span.sr-only Toggle fullscreen
      button(type='button', class='navbar-toggle')
        span.sr-only Toggle navigation
      ul(class='border-color')
        li
          b(data-menu='help') How to play
        li
          b(data-menu='rename') Pick a name for yourself
        li
          b(data-menu='restart') Restart this node
        li
          b(id='embed-link') Embed this node
        li
          a(id='edit-link' target='_blank') View spreadsheet for this node
        li
          b(id='manage-link') Node management area

  div#chat
    div(id='action-log-container')
      p(id='action-log-more' data-limit='') see more history
      div(id='action-log')
      p(id='action-log-open') see what happened here earlier
      p(id='action-log-close') close history
    p(id='input')
      span(id='input-fake')
        i(id='cursor')
      input(type='text', id='input-command', autocomplete='off')
