extends ./manage_layout.jade

block content  
  h1 Adventure Nodes
  h2 A platform for collaborative storytelling and shared exploration
  
  p An adventure node is like a chatroom with a text adventure game built into it. To jump into a node, just follow the "play" link on one of the nodes below. Watch out - adventure nodes can be interconnected! You never know where you end up. 

  ul(id='adventure-nodes-list')
  
  p You can also add your own node! To get started, enter a title for your node and either start from scratch or base it on one of our examples. All your node's data is stored in google spreadsheets that you can edit alone or together with friends.
  input(id='node-title', value=node_title) 
  br
  span based on an example 
  select(id='node-base')
    option empty node
    option(data-id='1ole9s7GaUiHJRBbaGQ2szhIaFBRbNKjwvFNiwZbsavc') example1
    option(data-id='12oh6CME2RuY0e9PNEkWBktm6YS2fl4viFgWtdeRxhLo') exanple2
    option(data-id='1Jutg5AZOT-FoXI4mFTOmuR62o844cs5WkoCJz3SOdnk') exanple3
    option(data-id='1c35tDKRKwJj99EIxnqP_9V07oBWQNmda0MVJrMjOwck') exanple4
    option(data-id='108aqnrUm1nFcLi2W_kWbtRA9oh7STzvRiNWOtqtpGus') exanple5   
  br
  span or link in an existing sheet 
    input(id='sheet-id', value='google spreadsheet id') 
  br
  button(id='create-node') Create a new node
  br
  span(id='notice')= notice
  
  