extends ./manage_layout.jade

block content  
  h1 Adventure Nodes
  h2 A platform for collaborative storytelling and shared exploration
  
  p An adventure node is like a chatroom with a text adventure game built into it. To jump into a node, just follow the "play" link on one of the nodes below. Watch out - adventure nodes can be interconnected! You never know where you end up. 
  
  h3 Example Nodes
  p Here are a few example nodes that showcase different features of the Adventure Nodes platform.
  ul(id='example-nodes-list')
    each node in locals.exampleNodes
      li
        =node.title
        |  
        a(href="/play/" + node.title) play
        | 
        a(href=node.driveLink) view 
  
  h3 Published Nodes
  ul(id='public-nodes-list')
    each node in locals.publicNodes
      li
        =node.title
        | 
        a(href="/play" + node.title) play
  
  h3 Your Nodes
  ul(id='created-nodes-list')
    if locals.createdNodes
      each node in locals.createdNodes
        li
          =node.title
          |  
          a(href="/play/" + node.title) play
          | 
          a(href=node.driveLink) edit
          | 
          a(href="/manage/remove/" + node.id, class="remove-link") remove


  button(id='load-created-nodes') Load nodes created by you

  h3 Create a new node!
  p To get started, enter a title for your node and either start from scratch or base it on one of our examples. All your node's data is stored in google spreadsheets that you can edit alone or together with friends.

  input(id='node-title', value='title') 
  br
  span based on an example 
  select(id='node-base')
    option empty node
    each node in locals.exampleNodes
      option(data-id=node.driveId) 
        =node.title

  br
  span or link in an existing sheet 
    input(id='sheet-id', value='google spreadsheet id') 
  br
  button(id='create-node') Create a new node
  br
  span(id='notice')= notice
  
  
  